<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>HackDartmouth</title>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-expand-lg navbar-light bg-light no-padding">
    <div class="container-fluid headerr">
      <!-- <a class="navbar-brand" href="#">Web For You</a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> --> 
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" style="color: white;">
          <li>
            <a href="/home">
              <img src="../../images/match.svg" style="height: 100px; margin: 5%; ">
            </a>
          </li>
          <li class="nav-item header-item" style="align-self:flex-end">
            <p>
             <% if(user) { %> 
            <a href="/compose" style="color: white; text-decoration: none;">Create</a>
            <% } %> 
            </p>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li> -->
          <li class="nav-item header-item" style="align-self:flex-end">
            <p>
            <% if(user) {  %> 
            <a href="/logout" style="color: white; text-decoration: none;">Logout</a>
            <% } else { %> 
            <a href="/login" style="color: white; text-decoration: none;">Log in</a>
            <% } %> 
            </p>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</head>
  <body>
    <div class="container-fluid">
      