<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Web For You</title>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>
  <body style="text-align: center; padding: 0; background-image: url(/images/hack.png);">
    <div style="background-color: #7D5DC1; padding-top: 1%; padding-bottom: 1%;">
    <img src="/images/match.svg" style="width: 150px;">
    </div>
    <div style="font-size: 30px; width: 300px; font-weight: bold; margin: auto; font-family: Lato; margin-top: 2%; margin-bottom: 2%;">
      Looking for a team for the next hackathon? Join our network now. :)
    </div>
    <a class="nav-link" href="/auth/google" style="width: 300px; margin: auto;">
      <img src="/images/google.svg" style="width: 100%;">
    </a>
    <%- include("partials/footer") -%>       
</body>