<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Web For You</title>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
  
  <style>
    .btn {
      display: block;
      background: white;
      color: #444;
      width: 190px;
      border-radius: 5px;
      border: thin solid #888;  
      box-shadow: 1px 1px 1px grey;
      white-space: nowrap;
      margin: 40px auto;
      
    }
  </style>
  </head>


  <body>

    <div class="login">
      <a class="btn" href="/auth/google">Gmail Login</a>
    </div>
    
        
<!-- <div class="footer-padding"></div>
  <div class="footer">
    <p>Web For You</p>
  </div>
</div> -->
<script src="/js/index.js" defer></script>
</body>
</html>
