@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

h1 {
  text-align: center;
}
.visit {
  text-align: center;
  width: 350px;
  border: none;
  background-color: white;
  transition: 0.3s;
  height: 50px;
}
.visit:hover {
  background-color: aqua;
}
.card {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  width: 80%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
.projects {
  margin-left: 0px !important;
  padding-left: 0px !important;
}
.fa-heart {
  color: black;
}
.like {
  width: auto;
  height: auto;
  border: none;
  background-color: white;
}

.no-padding {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.headerr {
  background-color: #7d5dc1;
}

.found-team {
  margin-bottom: 1%;
  margin-top: 2%;
  background-color: #f73859;
  border: 0;
}

.found-team:hover {
  background-color: #be2c45;
}

.header-item {
  font-size: 20px;
  font-weight: bold;
}

.label {
  color: #7d5dc1;
  font-weight: 900;
  font-family: 'Lato';
}

.post-button {
  background-color: #7d5dc1;
  color: white;
  width: 30%;
}

.post-button:hover {
  color: white;
  background-color: #4e3979;
}

.img-thumbnail {
  height: 200px;
}

html {
  font-family: 'Lato';
}